<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tricks4speed.fakesms"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
     <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
      <uses-permission android:name="android.permission.READ_SMS"></uses-permission>

    <application
        android:icon="@drawable/logo"
        android:label="FAKE SMS" >
        <activity
            android:name=".FakesmsActivity"
            android:label="Fake sms" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>